
.container-fluid {
    padding: 0;
}

.navbar {
    background-color: #00bc92;
}

.nav-item {
    font-weight: 500;
    color: #ffffff;
    text-decoration: none;
}

#sysmile-logo {
    width: 60%;
}

#carrossel .carousel-inner, #carrossel .carousel-item {
    height: 90vh;

}

#carrossel .carousel-caption {
    height: 75vh;
    padding-top: 10%;

}

.carousel-caption h5 {
    padding-bottom: 5%;
    font-size: 2.8vw;
    color: #00bc92;
    font-weight: 700;
    -webkit-text-stroke: 1px #000000;
}

.carousel-caption p{
    padding-bottom: 5%;
    font-size: 2vw;
    color: #ffffff;
    font-weight: 700;
    -webkit-text-stroke: 1px #000000;    
}
.main-btn {
    color: #ffffff;
    background-color: #00bc92;
    text-transform: uppercase;
    width: 10vw;
    height: 10vh;
    padding: .3em .3em;
    font-size: 1vw;
    border-radius: 1em ;
    border: 0.2em solid transparent;
    font-weight: 600;
    transition: .5s;
}

.main-btn:hover{
    text-decoration: none;
    color:  #00bc92;
    background-color: rgba(255, 255, 255, 0.726);
    border: 0.2em solid #00bc92;
    font-weight: 600;

}

.carousel-indicators {
    
    bottom: 20px;
}

.carousel-indicators .active {
    background-color: #00bc92;
}